@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
/* line 13, stdin */
* {
  box-sizing: border-box;
}

/* line 16, stdin */
body {
  background-color: #3C3636;
}

/* line 20, stdin */
.header {
  padding: 30px 0;
}

/* line 23, stdin */
.header__container {
  max-width: 1024px;
  margin: 0 auto;
}

/* line 27, stdin */
.header__base-link {
  text-decoration: none;
  transition: all .5s ease-in-out;
  padding-left: 15px;
}

/* line 31, stdin */
.header__base-link path {
  fill: #fff;
  fill-rule: nonzero;
  transition: all .5s ease-in-out;
}

/* line 36, stdin */
.header__base-link:hover h1 {
  color: #F37748;
}

/* line 43, stdin */
.header__logo-container {
  height: 35px;
  width: 35px;
  display: inline-block;
}

/* line 49, stdin */
.header__title {
  font-weight: 300;
  display: inline-block;
  margin: 0 0 0 6px;
  line-height: 36px;
  vertical-align: top;
  color: white;
  font-size: 24px;
  font-family: 'archivo narrow';
  transition: all .5s ease-in-out;
}

/* line 61, stdin */
.grid {
  zoom: 1;
  max-width: 1024px;
  margin: 0 auto;
  box-shadow: 0px 0px 41px #000000;
}

/* line 67, stdin */
.grid:before, .grid:after {
  content: ' ';
  display: table;
}

/* line 72, stdin */
.grid:after {
  clear: both;
}

/* line 77, stdin */
.grid__sizer {
  width: 100%;
}

/* line 80, stdin */
.gutter__sizer {
  width: 0;
}

/* line 83, stdin */
.grid__item {
  width: 100%;
  min-height: 304px;
  float: none;
  overflow: hidden;
}

/* line 90, stdin */
.news {
  padding: 40px 40px 105px 40px;
  font-family: 'Archivo Narrow', Helvetica, arial, sans-serif;
  font-weight: 400;
  color: white;
  position: relative;
  transition: all .5s ease-in-out;
}

/* line 97, stdin */
.news__url {
  text-decoration: none;
  color: white;
  max-width: 100%;
  display: block;
  -webkit-hyphens: all;
     -moz-hyphens: all;
      -ms-hyphens: all;
          hyphens: all;
  font-size: 16px;
  font-size: 14px;
}

/* line 108, stdin */
.news__title {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 25px;
  font-size: 20px;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  transition: all .5s ease-in-out;
}

/* line 118, stdin */
.news hr {
  border-top: none;
  border-bottom: 1px solid white;
  transition: all .5s ease-in-out;
}

/* line 124, stdin */
.news__meta-author-container {
  position: absolute;
  bottom: 0;
  left: 0px;
  padding: 0 35px 35px;
}

/* line 130, stdin */
.news__story-meta-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 35px 35px 0;
}

/* line 136, stdin */
.news__meta {
  float: right;
}

/* line 139, stdin */
.news__meta-date {
  font-size: 16px;
  margin: 0 0 5px 0;
}

/* line 143, stdin */
.news__meta_upvote-container {
  float: right;
}

/* line 146, stdin */
.news__meta-upvote-count {
  font-size: 26px;
  display: inline-block;
  font-weight: 700;
  margin: 0;
}

/* line 151, stdin */
.news__meta-upvote-count i {
  display: inline-block;
  margin-right: 10px;
}

/* line 156, stdin */
.news__meta-upvote-label {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

/* line 163, stdin */
.news__meta-author-link {
  position: relative;
  float: left;
  color: white;
  transition: all .5s ease-in-out;
}

/* line 169, stdin */
.news__meta-author-avatar {
  width: 35px;
  height: auto;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 177, stdin */
.news__meta-author-name {
  margin-left: 35px;
  padding: 0 0 0 10px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  font-size: 19px;
  font-weight: 400;
}

/* line 193, stdin */
.news.red {
  background-color: #f37975;
}

/* line 195, stdin */
.news.red:hover {
  background-color: #f1625d;
}

/* line 199, stdin */
.red .news__title,
.red .news__meta-date {
  color: #b0140f;
}

/* line 202, stdin */
.news.red hr {
  border-color: #b0140f;
}

/* line 206, stdin */
.red .news__meta-author-link:hover {
  color: #b0140f;
}

/* line 210, stdin */
.red .news__url:hover .news__title,
.red .news__url:hover hr {
  color: #c31611;
  border-color: #c31611;
}

/* line 193, stdin */
.news.blue {
  background-color: #4fb7e5;
}

/* line 195, stdin */
.news.blue:hover {
  background-color: #38aee2;
}

/* line 199, stdin */
.blue .news__title,
.blue .news__meta-date {
  color: #125a7a;
}

/* line 202, stdin */
.news.blue hr {
  border-color: #125a7a;
}

/* line 206, stdin */
.blue .news__meta-author-link:hover {
  color: #125a7a;
}

/* line 210, stdin */
.blue .news__url:hover .news__title,
.blue .news__url:hover hr {
  color: #14678c;
  border-color: #14678c;
}

/* line 193, stdin */
.news.orange {
  background-color: #f6936e;
}

/* line 195, stdin */
.news.orange:hover {
  background-color: #f48256;
}

/* line 199, stdin */
.orange .news__title,
.orange .news__meta-date {
  color: #b0390c;
}

/* line 202, stdin */
.news.orange hr {
  border-color: #b0390c;
}

/* line 206, stdin */
.orange .news__meta-author-link:hover {
  color: #b0390c;
}

/* line 210, stdin */
.orange .news__url:hover .news__title,
.orange .news__url:hover hr {
  color: #c33f0d;
  border-color: #c33f0d;
}

/* line 193, stdin */
.news.yellow {
  background-color: #ffca6b;
}

/* line 195, stdin */
.news.yellow:hover {
  background-color: #ffc151;
}

/* line 199, stdin */
.yellow .news__title,
.yellow .news__meta-date {
  color: #c27d00;
}

/* line 202, stdin */
.news.yellow hr {
  border-color: #c27d00;
}

/* line 206, stdin */
.yellow .news__meta-author-link:hover {
  color: #c27d00;
}

/* line 210, stdin */
.yellow .news__url:hover .news__title,
.yellow .news__url:hover hr {
  color: #d68a00;
  border-color: #d68a00;
}

/* line 193, stdin */
.news.pink {
  background-color: #e45c9f;
}

/* line 195, stdin */
.news.pink:hover {
  background-color: #e04693;
}

/* line 199, stdin */
.pink .news__title,
.pink .news__meta-date {
  color: #82164b;
}

/* line 202, stdin */
.news.pink hr {
  border-color: #82164b;
}

/* line 206, stdin */
.pink .news__meta-author-link:hover {
  color: #82164b;
}

/* line 210, stdin */
.pink .news__url:hover .news__title,
.pink .news__url:hover hr {
  color: #931956;
  border-color: #931956;
}

/* line 193, stdin */
.news.purple {
  background-color: #9f90d4;
}

/* line 195, stdin */
.news.purple:hover {
  background-color: #8f7dcd;
}

/* line 199, stdin */
.purple .news__title,
.purple .news__meta-date {
  color: #463488;
}

/* line 202, stdin */
.news.purple hr {
  border-color: #463488;
}

/* line 206, stdin */
.purple .news__meta-author-link:hover {
  color: #463488;
}

/* line 210, stdin */
.purple .news__url:hover .news__title,
.purple .news__url:hover hr {
  color: #4e3a96;
  border-color: #4e3a96;
}

/* line 193, stdin */
.news.green {
  background-color: #a4e5d5;
}

/* line 195, stdin */
.news.green:hover {
  background-color: #90dfcc;
}

/* line 199, stdin */
.green .news__title,
.green .news__meta-date {
  color: #32af90;
}

/* line 202, stdin */
.news.green hr {
  border-color: #32af90;
}

/* line 206, stdin */
.green .news__meta-author-link:hover {
  color: #32af90;
}

/* line 210, stdin */
.green .news__url:hover .news__title,
.green .news__url:hover hr {
  color: #36bf9d;
  border-color: #36bf9d;
}

@media screen and (min-width: 760px) {
  /* line 219, stdin */
  .grid__sizer {
    width: 50%;
  }
  /* line 222, stdin */
  .grid__item {
    width: 50%;
    float: left;
    height: 304px;
  }
  /* line 226, stdin */
  .grid__item--width-2 {
    width: 100%;
  }
  /* line 229, stdin */
  .grid__item--height-2 {
    height: 608px;
  }
  /* line 235, stdin */
  .news__url {
    font-size: 16px;
  }
  /* line 238, stdin */
  .news__title {
    font-size: 25px;
  }
}
